<a href="https://colab.research.google.com/github/gacemiamine77/gacemiamine77/blob/main/meteo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:

#ce tutorial utilise deux données de stations métérologique, la station d'oran et la station de skikda 
#dont les liens suivants: https://docs.google.com/spreadsheets/d/1t7NsQqxbCWEc_qYLJCvk1K9w7kdpO_VS/edit?usp=sharing&ouid=103724841969605843579&rtpof=true&sd=true
#https://docs.google.com/spreadsheets/d/1i4fsE9lRJOSwVHebS6A2hpkBliZ_01Ij/edit?usp=sharing&ouid=103724841969605843579&rtpof=true&sd=true

In [2]:
pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 5.2 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 48.5 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 28.8 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.5.18.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [6]:
import geopandas as gpd
import pandas as pd

In [9]:
meteo_oran_xls=pd.read_excel("/content/drive/MyDrive/I3_ENSGTS/meteo_oran_daily.xlsx")
meteo_skikda_xls=pd.read_excel("/content/drive/MyDrive/I3_ENSGTS/meteo_skikda_daily.xlsx")

In [11]:
# afficher la dimension du DataFrame
print(meteo_oran_xls.shape)

(774, 11)

In [12]:
print(meteo_skikda_xls.shape)

(405, 12)

In [13]:
#afficher les colonnes du dataframe oran
print(meteo_oran_xls.columns)

Index(['Unnamed: 0', 'time', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir',
       'wspd', 'wpgt', 'pres'],
      dtype='object')

In [20]:
meteo_oran_xls=meteo_oran_xls.assign(wilaya="Oran")

In [24]:
meteo_oran_xls["wil"]="31"

In [25]:
meteo_oran_xls.columns

Index(['Unnamed: 0', 'time', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir',
       'wspd', 'wpgt', 'pres', 'wilaya', 'wil'],
      dtype='object')

In [39]:
oran_1=pd.DataFrame(meteo_oran_xls,columns=["prcp","tavg"])

In [42]:
meteo_oran_xls[["prcp","tavg"]]

     prcp  tavg
0     0.0   8.6
1     0.0   8.1
2     0.0   8.2
3     0.0   9.7
4     0.0   9.1
..    ...   ...
769   0.0  12.3
770   0.0  11.1
771   0.0  10.1
772   0.0  10.8
773   0.0  12.0

[774 rows x 2 columns]

In [40]:
print(oran_1)

     prcp  tavg
0     0.0   8.6
1     0.0   8.1
2     0.0   8.2
3     0.0   9.7
4     0.0   9.1
..    ...   ...
769   0.0  12.3
770   0.0  11.1
771   0.0  10.1
772   0.0  10.8
773   0.0  12.0

[774 rows x 2 columns]

In [14]:
#afficher les colonnes du dataframe skikda
print(meteo_skikda_xls.columns)

Index(['Unnamed: 0', 'time', 'tavg', 'tmin', 'tmax', 'prcp', 'snow', 'wdir',
       'wspd', 'wpgt', 'pres', 'tsun'],
      dtype='object')

In [16]:
merge_xls=pd.concat([meteo_oran_xls,meteo_skikda_xls])

In [17]:
merge_xls.shape

(1179, 12)

In [19]:
merge_xls.to_excel("/content/drive/MyDrive/I3_ENSGTS/meteo_merge_daily.xlsx")